<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style >
    #banner{
      width:100%;
      height:350px;
      object-fit:cover;
    }
    .navbar-brand {
      width: 50px; 
      height: 50px; 
      border-radius: 50%; 
      /* overflow: hidden; */
    }
    .navbar-brand img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
    .text {
        color: black;
        font-size: 25px; /* Adjust the font size of the text */
    }
  
  </style>
  <title>GAJERA'S</title>
</head>
<body>
  {% include 'nav.html' %}
   <img id="banner" class="img-fluid img-center  mb-4" src="https://webpage1--dharmikgajera16.repl.co/static/banner2.jpg" alt="banner" >
  <div class="container">
  <h1 class="text-center mt-4 mb-4">{{company_name}}'S FOUNDATION</h1>
    <h6 class="text-center mt-4 mb-4">FOUNDER: DHARMIK GAJERA</h6>
  <div class="row" style="margin-bottom: 16px;">
    <div class="col-md-6">
  <p class="lead">The Gajera Foundation stands as a beacon of philanthropy and social responsibility, dedicated to fostering positive change in communities across the globe. Founded on the principles of compassion and empowerment, the foundation tirelessly pursues initiatives in education, healthcare, and sustainable development. With a vision to uplift the underprivileged and create a more equitable world, Gajera Foundation strategically invests in innovative projects that address pressing social challenges. Its commitment to education is evident through scholarships and educational infrastructure, while healthcare programs prioritize accessible and quality medical services. Embracing a holistic approach, the foundation leverages partnerships and collaborations to maximize its impact. Gajera Foundation, driven by a passion for social transformation, exemplifies the profound impact that dedicated philanthropy can have on creating a brighter and more inclusive future for all.</p>
  <p>
  </div>
    <div class="d-none d-md-block col-md-6">
      <img src="static/desk_photo.jpg" style ="height:320px;border-radius:4px;width:450px;" >
    </div>
    <h2 class="text-center">Open Position</h2>
    <div>
    {% for job in jobs %}
      {% include 'job.html' %}
    {% endfor %}
    </div>    
  </p>
    <div class="text-center">
     <a href="mailto:dharmikgajera311@gmail.com?subject=Question%20about%20job%20opennings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3Center%20your%20question%3E%0D%0A%0D%0AWE%20ARE%20HAPPY%20TO%20SEE%20YOU%20HERE%20!" class="btn btn-primary">Contact Us</a>
    <p class = "mt-4">Copyright 2023, theduniverse</p>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>